@media only screen and (max-width: 1224px) {
    .post-toc {
        display: none;
    }
} 

.post-toc{
  position: fixed; 
  left: 4%;
  max-width:300px; 
  overflow:auto; 
  top: 15%; 
  bottom: 5%;
}

.toc-content {
    margin-right: 2em;
}
.toc-wrapper {
    ::-webkit-scrollbar {
      width: 6px;
      height: 8px;
    }
    ::-webkit-scrollbar-thumb {
      height: 40px;
      background-color: #eee;
      border-radius: 16px;
      &:hover {
        background-color: #ddd;
      }
    }
}